* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.main {
    width: 100%;
    height: 100vh;
    /* background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3)); */
    position: relative;
    padding: 0 2%;
    display: flex;
    align-items: center;
    justify-content: center;





}

.content-video {
    text-align: center;



}

.content-video h1 {
    font-size: 150px;
    color: white;
    font-weight: 600;
    transition: 1s;
}

.content-video h1:hover {
    -webkit-text-stroke: 2px white;
    color: transparent;

}

.content-video a {
    text-decoration: none;
    display: inline-block;
    color: white;
    border: 2px solid white;
    border-radius: 50px;
    margin-top: 20px;
    padding: 14px 70px;
    font-size: 18px;
    transition: 0.5s;
    background-color: #6c757d;


}

.content-video a:hover {
    font-size: 25px;
    color: #fff;
    background: #495057;

}

.nav-video {
    /* width: 100%; */
    position: absolute;
    z-index: -1;
    right: 7px;


}

/* ---------features--------------- */
#slider {
    margin-top: 80px;
    height: 600px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 1600px;
    margin: auto;

}

.subcontainer {
    width: 85%;
    margin: auto;
}

.slide-img {
    width: 100%;
    height: 275px;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.slide-img:hover {
    box-shadow: 0 0 0 200px rgba((0), 0, 0, 0.9);
}

.slide-img a {
    opacity: 0;
    text-decoration: none;
    transform: scale(0);
    transition: 0.8s;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 600;
}

.slide-img:hover a {
    opacity: 1;
    transform: scale(1);
}

.img-1 {
    background-image: url("images/1.jpg");
}

.img-2 {
    background-image: url("images/2.jpg");
}

.img-3 {
    background-image: url("images/3.jpg");
}

.img-4 {
    background-image: url("images/4.jpg");
}

.img-5 {
    background-image: url("images/5.jpg");
}



/* ------------booking----------------- */

.booking {
    /* border: 1px solid black; */
    text-align: center;
    margin-top: 5%;
}

.booking h2 {
    font-size: 40px;
    color: #495057;
}

.card-container {
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container .card-content {
    padding: 2% 4%;
    text-align: center;
}

.card-container .card-content .card-img {
    width: 800px;
    height: 500px;
    padding: 2% 3%;
    margin: auto 2%;
    position: relative;



}

.card-container .card-content .card-img a {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    background-color: #495057;
    border: 2px solid white;
    padding: 1% 5%;
    border-radius: 50px;
    opacity: 0;
    transition: 1s ease-out;

}

.card-container .card-content .card-img:hover a {
    opacity: 1;
    transform: translate(-50%, -50%);
    top: 50%;

}

.card-container .card-content .card-img img {
    width: 90%;
    height: 100%;
    border-radius: 10px;
    transition: 1s;
}

.card-container .card-content .card-dis {
    padding: 5% 10%;
}


/* ----------media query(header)--------------- */
@media (min-aspect-ratio:16/9) {
    .nav-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9) {
    .nav-video {
        width: auto;
        height: 100%;
    }
}

@media only screen and (max-width: 595px) {
    .content-video h1 {
        font-size: 150px;
        color: white;
        font-weight: 600;
    }

}


@media only screen and (min-width: 200px) {
    .content-video h1 {
        font-size: 50px;
        color: white;
        font-weight: 600;
    }

}

@media only screen and (min-width: 600px) {
    .content-video h1 {
        font-size: 50px;
        color: white;
        font-weight: 600;
    }


}


@media only screen and (min-width: 768px) {
    .content-video h1 {
        font-size: 80px;
        color: white;
        font-weight: 600;
    }
}

@media only screen and (min-width: 1200px) {
    .content-video h1 {
        font-size: 150px;
        color: white;
        font-weight: 600;
    }

    .container {
        width: 100%;
    }


}
/* ------------------  media query ----------------------------------- */
@media(max-width : 1515px) {
    .card-container .card-content .card-img {
        width: 500px;
        height: 300px;
        padding: 2% 10%;
        margin: auto 10%;
        position: relative;
    }

}


@media(max-width : 1267px) {
    .card-container .card-content .card-img {
        width: 400px;
        height: 300px;
        padding: 2% 10%;
        margin: auto 10%;
        position: relative;

    }


}

@media(max-width : 1017px) {
    .card-container .card-content .card-img {
        width: 500px;
        height: 400px;
        padding: 2% 10%;
        margin: auto 18%;
        position: relative;



    }

    .card-container {
        flex-direction: column;
    }

}

@media(max-width : 785px) {
    .card-container .card-content .card-img {
        width: 500px;
        height: 200px;
        padding: 2% 10%;
        margin: auto 15%;
        position: relative;



    }

    .card-container {
        flex-direction: column;
    }

    .card-container .card-content .card-img a {
        padding: 0.5% 3%;
        font-size: 20px;


    }

}

@media(max-width : 655px) {
    .card-container .card-content .card-img {
        width: 400px;
        height: 200px;
        padding: 2% 10%;
        margin: auto 18%;
        position: relative;



    }

    .card-container {
        flex-direction: column;
    }
    .card-container .card-content .card-img a {
        padding: 0.5% 3%;
        font-size: 15px;


    }

}

@media(max-width : 526px) {
    .card-container .card-content .card-img {
        width: 300px;
        height: 200px;
        padding: 2% 10%;
        margin: auto 18%;
        position: relative;



    }

    .card-container {
        flex-direction: column;
    }
    .card-container .card-content .card-img a {
        padding: 0.5% 3%;
        font-size: 10px;


    }

}

@media(max-width : 398px) {
    .card-container .card-content .card-img {
        width: 250px;
        height: 200px;
        padding: 2% 10%;
        margin: auto 18%;
        position: relative;



    }

    .card-container {
        flex-direction: column;
    }

}
/* -----------testimonial---------------------*/
.testimonials-clean {
    color:#fff;
    background-color:#495057;
  }
  
  .testimonials-clean p {
    color:#fff;
  }
  
  .testimonials-clean h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:inherit;
  }
  
  @media (max-width:767px) {
    .testimonials-clean h2 {
      margin-bottom:25px;
      padding-top:25px;
      font-size:24px;
    }
  }
  
  .testimonials-clean .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto;
  }
  
  .testimonials-clean .intro p {
    margin-bottom:0;
  }
  
  .testimonials-clean .people {
    padding:50px 0 20px;
  }
  
  .testimonials-clean .item {
    margin-bottom:32px;
  }
  
  @media (min-width:768px) {
    .testimonials-clean .item {
      height:220px;
    }
  }
  
  .testimonials-clean .item .box {
    padding:30px;
    background-color: burlywood;
    position:relative;
  }
  
  .testimonials-clean .item .box:after {
    content:'';
    position:absolute;
    left:30px;
    bottom:-24px;
    width:0;
    height:0;
    border:15px solid transparent;
    border-width:12px 15px;
    border-top-color:#fff;
  }
  
  .testimonials-clean .item .author {
    margin-top:28px;
    padding-left:25px;
  }
  
  .testimonials-clean .item .name {
    font-weight:bold;
    margin-bottom:2px;
    color:inherit;
  }
  
  .testimonials-clean .item .title {
    font-size:13px;
    color:#9da9ae;
  }
  
  .testimonials-clean .item .description {
    font-size:15px;
    margin-bottom:0;
  }
  
  .testimonials-clean .item img {
    max-width:40px;
    float:left;
    margin-right:12px;
    margin-top:-5px;
  }
  
  /* ---------------------contact us------------ */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  

  .container-con {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    margin-top: 30px;
  }
  

  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }