@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
        justify-content: end;
    }
}

button a {
    color: #6665ee;
    font-weight: 500;
}

button a:hover {
    text-decoration: none;
}

nav .logo {
    width: 120px;
    height: 20px;
    height: 1rem;
    margin-left: 3%;
}

.nav-item a {
    font-size: 17px;
}

.navbar-nav {
    display: flex;
    padding-left: 50px;
    margin-bottom: 0;
    list-style: none;
    justify-content: space-evenly;
}

.btn-outline-success {
    color: orange;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: 600;
}